.titulo-principal{
    padding-left: 30px;
}
#banner{
    width: 100%;
}

.bloquePrincipal{
    background-color: #cccccc;
    padding: 20px;
    
}

p{
    text-align: center;    
}
#mision{
    font-size: 20px;
}

em strong{
    color: red;
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
}
.texto-centralizado{
    text-align: center;
}

.items{
    font-style: italic ;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}